In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
#from config import g_key

In [2]:
import requests
import os
from dotenv import load_dotenv
load_dotenv()
g_key = os.getenv("g_key")

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df=pd.read_csv("weather_data/cities.csv")
city_data_df.dtypes
city_data_df.head()

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Husavik,IS,2022-07-21 18:42:09,66.0449,-17.3389,50.32,78,94,3.98
1,1,Kaduy,RU,2022-07-21 18:42:09,59.2000,37.1500,62.71,75,100,5.03
2,2,Sandwick,GB,2022-07-21 18:42:10,60.0000,-1.2500,53.42,82,75,10.36
3,3,Vila Franca Do Campo,PT,2022-07-21 18:42:10,37.7167,-25.4333,72.01,72,30,3.24
4,4,Quatre Cocos,MU,2022-07-21 18:36:54,-20.2078,57.7625,69.91,71,93,20.74

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
#max_temp=city_data_df["Max Temp"]
#temps=[]
#for temp in max_temp:
#    temps.append(max(temp,0))

In [6]:
# Heatmap of temperature
locations=city_data_df[["Lat","Lng"]]
# Get the maximum temperature.
max_temp=city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heat_layer=gmaps.heatmap_layer(locations,weights=temps)
heat_layer=gmaps.heatmap_layer(locations,weights=[max(temp,0) for temp in max_temp],
                               dissipating=False, max_intensity=300, point_radius=4)
# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations=city_data_df[["Lat","Lng"]]
humidity=city_data_df["Humidity"]
fig=gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations, weights=humidity, 
                            dissipating=False, max_intensity=300,point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations=city_data_df[["Lat","Lng"]]
clouds=city_data_df["Cloudiness"]
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=clouds,
                              dissipating=False, max_intensity=300,point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations=city_data_df[["Lat","Lng"]]
wind=city_data_df["Wind Speed"]
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=wind,
                              dissipating=False, max_intensity=300,point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Afogados Da Ingazeira,BR,2022-07-21 18:42:10,-7.7508,-37.6392,75.70,66,94,12.48
11,11,Barcelos,PT,2022-07-21 18:42:12,41.5388,-8.6151,81.91,68,7,4.12
12,12,Quepos,CR,2022-07-21 18:42:12,9.4236,-84.1652,81.55,77,100,4.12
15,15,Hambantota,LK,2022-07-21 18:37:13,6.1241,81.1185,79.14,94,40,13.80
16,16,Hobyo,SO,2022-07-21 18:38:23,5.3505,48.5268,76.19,83,62,23.35
21,21,Touros,BR,2022-07-21 18:37:30,-5.1989,-35.4608,80.42,72,100,11.61
24,24,San Vicente,AR,2022-07-21 18:42:14,-26.6167,-54.1333,76.39,52,63,4.43
29,29,Bandarbeyla,SO,2022-07-21 18:38:35,9.4942,50.8122,75.88,82,45,28.52
30,30,Itarema,BR,2022-07-21 18:35:28,-2.9248,-39.9167,85.17,60,82,16.53
32,32,Sztum,PL,2022-07-21 18:42:16,53.9208,19.0307,82.33,43,100,9.35

In [12]:
preferred_cities_df.count()

City ID       191
City          191
Country       191
Date          191
Lat           191
Lng           191
Max Temp      191
Humidity      191
Cloudiness    191
Wind Speed    191
dtype: int64

In [13]:
len(preferred_cities_df)

191

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                     City Country  Max Temp      Lat      Lng Hotel Name
6   Afogados Da Ingazeira      BR     75.70  -7.7508 -37.6392
11               Barcelos      PT     81.91  41.5388  -8.6151
12                 Quepos      CR     81.55   9.4236 -84.1652
15             Hambantota      LK     79.14   6.1241  81.1185
16                  Hobyo      SO     76.19   5.3505  48.5268
21                 Touros      BR     80.42  -5.1989 -35.4608
24            San Vicente      AR     76.39 -26.6167 -54.1333
29            Bandarbeyla      SO     75.88   9.4942  50.8122
30                Itarema      BR     85.17  -2.9248 -39.9167
32                  Sztum      PL     82.33  53.9208  19.0307

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    # Grab the first hotel from the results and store the name.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Afogados Da Ingazeira,BR,75.70,-7.7508,-37.6392,Hotel Brotas
11,Barcelos,PT,81.91,41.5388,-8.6151,Hotel Restaurante Bagoeira
12,Quepos,CR,81.55,9.4236,-84.1652,Jungle Beach Hotel at Manuel Antonio
15,Hambantota,LK,79.14,6.1241,81.1185,Bungalow 63
16,Hobyo,SO,76.19,5.3505,48.5268,Iftin hotel hobyo
21,Touros,BR,80.42,-5.1989,-35.4608,INN NEW HORIZON
24,San Vicente,AR,76.39,-26.6167,-54.1333,Complejo Turístico Farelluk
29,Bandarbeyla,SO,75.88,9.4942,50.8122,JABIR HOTEL
30,Itarema,BR,85.17,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
32,Sztum,PL,82.33,53.9208,19.0307,ISKRA Stajnia i Pensjonat

In [ ]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

In [ ]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

In [ ]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [ ]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [ ]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations=hotel_df[["Lat","Lng"]]
max_temp=hotel_df["Max Temp"]
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=max_temp,dissipating=False,
                              max_intensity=300, point_radius=4)
marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig