## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
#from config import g_key

import os
from dotenv import load_dotenv
load_dotenv()
g_key = os.getenv("g_key")

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head(10)

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Xining,CN,36.6167,101.7667,54.10,88,8,2.01,clear sky
1,1,Georgetown,MY,5.4112,100.3354,82.33,92,20,5.75,few clouds
2,2,Mount Isa,AU,-20.7333,139.5000,46.17,76,100,0.00,overcast clouds
3,3,Busselton,AU,-33.6500,115.3333,54.27,66,100,7.67,overcast clouds
4,4,Shingu,JP,33.7333,135.9833,76.86,87,100,3.71,overcast clouds
5,5,Jamestown,US,42.0970,-79.2353,76.51,55,75,12.66,broken clouds
6,6,Ushuaia,AR,-54.8000,-68.3000,44.26,65,40,25.32,scattered clouds
7,7,Trelew,AR,-43.2490,-65.3051,53.06,40,0,10.51,clear sky
8,8,Asau,RO,46.4333,26.4000,69.28,88,88,5.21,overcast clouds
9,9,Bilma,NE,18.6853,12.9164,94.71,20,40,10.20,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df=city_data_df.loc[(city_data_df["Max Temp"]<=max_temp)& 
                                    (city_data_df["Max Temp"]>=min_temp)]
clean_df.head(10)

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Georgetown,MY,5.4112,100.3354,82.33,92,20,5.75,few clouds
4,4,Shingu,JP,33.7333,135.9833,76.86,87,100,3.71,overcast clouds
5,5,Jamestown,US,42.0970,-79.2353,76.51,55,75,12.66,broken clouds
12,12,Hithadhoo,MV,-0.6000,73.0833,81.57,74,100,16.60,heavy intensity rain
13,13,Merauke,ID,-8.4667,140.3333,77.16,86,100,16.24,overcast clouds
16,16,Sao Filipe,CV,14.8961,-24.4956,77.65,79,100,9.19,overcast clouds
18,18,San Policarpo,PH,12.1791,125.5072,80.42,82,100,8.12,light rain
19,19,Douentza,ML,14.9951,-2.9517,88.52,44,49,10.27,scattered clouds
23,23,Butaritari,KI,3.0707,172.7902,81.28,69,100,16.62,overcast clouds
25,25,Tripoli,LY,32.8752,13.1875,83.52,62,0,10.45,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
clean_df.count()

City ID                233
City                   233
Country                233
Lat                    233
Lng                    233
Max Temp               233
Humidity               233
Cloudiness             233
Wind Speed             233
Current Description    233
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df.dropna()
clean_df.head(10)

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Georgetown,MY,5.4112,100.3354,82.33,92,20,5.75,few clouds
4,4,Shingu,JP,33.7333,135.9833,76.86,87,100,3.71,overcast clouds
5,5,Jamestown,US,42.0970,-79.2353,76.51,55,75,12.66,broken clouds
12,12,Hithadhoo,MV,-0.6000,73.0833,81.57,74,100,16.60,heavy intensity rain
13,13,Merauke,ID,-8.4667,140.3333,77.16,86,100,16.24,overcast clouds
16,16,Sao Filipe,CV,14.8961,-24.4956,77.65,79,100,9.19,overcast clouds
18,18,San Policarpo,PH,12.1791,125.5072,80.42,82,100,8.12,light rain
19,19,Douentza,ML,14.9951,-2.9517,88.52,44,49,10.27,scattered clouds
23,23,Butaritari,KI,3.0707,172.7902,81.28,69,100,16.62,overcast clouds
25,25,Tripoli,LY,32.8752,13.1875,83.52,62,0,10.45,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = " "
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Georgetown,MY,82.33,few clouds,5.4112,100.3354,
4,Shingu,JP,76.86,overcast clouds,33.7333,135.9833,
5,Jamestown,US,76.51,broken clouds,42.0970,-79.2353,
12,Hithadhoo,MV,81.57,heavy intensity rain,-0.6000,73.0833,
13,Merauke,ID,77.16,overcast clouds,-8.4667,140.3333,
16,Sao Filipe,CV,77.65,overcast clouds,14.8961,-24.4956,
18,San Policarpo,PH,80.42,light rain,12.1791,125.5072,
19,Douentza,ML,88.52,scattered clouds,14.9951,-2.9517,
23,Butaritari,KI,81.28,overcast clouds,3.0707,172.7902,
25,Tripoli,LY,83.52,clear sky,32.8752,13.1875,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat=row["Lat"]
    lng=row["Lng"]
    params["location"]=f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url,params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index,"Hotel Name"]=hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()
hotel_df["Hotel Name"].replace(" ",np.nan,inplace=True)
clean_hotel_df=hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Georgetown,MY,82.33,few clouds,5.4112,100.3354,Cititel Penang
4,Shingu,JP,76.86,overcast clouds,33.7333,135.9833,Shingu UI Hotel
5,Jamestown,US,76.51,broken clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
12,Hithadhoo,MV,81.57,heavy intensity rain,-0.6000,73.0833,Scoop Guest House
16,Sao Filipe,CV,77.65,overcast clouds,14.8961,-24.4956,Hotel Xaguate
18,San Policarpo,PH,80.42,light rain,12.1791,125.5072,Agapita M. Nicart
19,Douentza,ML,88.52,scattered clouds,14.9951,-2.9517,Ogomono Doumbo
23,Butaritari,KI,81.28,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
25,Tripoli,LY,83.52,clear sky,32.8752,13.1875,Al Waddan Hotel
27,Bolobo,CD,83.71,overcast clouds,-2.1667,16.2333,Hotel de Stephen

In [10]:
# 8a. Create the output File (CSV)
output_data_file=("../Vacation_Search/WeatherPy_vacation.csv")
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Georgetown,MY,82.33,few clouds,5.4112,100.3354,Cititel Penang
4,Shingu,JP,76.86,overcast clouds,33.7333,135.9833,Shingu UI Hotel
5,Jamestown,US,76.51,broken clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
12,Hithadhoo,MV,81.57,heavy intensity rain,-0.6000,73.0833,Scoop Guest House
16,Sao Filipe,CV,77.65,overcast clouds,14.8961,-24.4956,Hotel Xaguate
18,San Policarpo,PH,80.42,light rain,12.1791,125.5072,Agapita M. Nicart
19,Douentza,ML,88.52,scattered clouds,14.9951,-2.9517,Ogomono Doumbo
23,Butaritari,KI,81.28,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
25,Tripoli,LY,83.52,clear sky,32.8752,13.1875,Al Waddan Hotel
27,Bolobo,CD,83.71,overcast clouds,-2.1667,16.2333,Hotel de Stephen

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))